/*Styles for home.html*/

#header_toggle, #sidebar_toggle {
    font-size: 18px;
    color: white;
    font-weight: bold;
    text-align: center;
    line-height: 50px;
}
.focus-text{
    font-size: 25px !important;
    font-weight: normal;
}
#header ul#header_menu > li:hover > a{
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}

.no-margin{
    margin: 0;
}
.unstyled{
    list-style-type: none !important;
    list-style-position: inside !important;
}
#social .content ul li{
    /*line-height: 32px;*/
    /*font-size: 100%;*/
    vertical-align: middle;
}
.border1{
    border: 1px solid black;
}
.ui-progressbar-value{
    text-align: center;
    line-height: 40px;
    color: black;
    font-weight: bold;
}
#pdf-view{
    height: 100%;
    width: 98%;
}
#pdf-view object{
    display: block;
    border: solid 1px #666;
}

.tag{
    /*margin-right: 10px !important;*/
}

.container .box .content h1{
    margin:0;
}

@media all and (max-width: 500px) {
    .container .box .content h1 img{
        display:none;
    }
}

@media all and (max-width: 800px) {
    #experience .content .col_4{
        display:block;
        float: none;
    }
}

.masonry-container{
    -moz-column-count: 2;
    -moz-column-gap: 20px;
    -webkit-column-count: 2;
    -webkit-column-gap: 20px;
    column-count: 2;
    column-gap: 20px;
    /*display: inline-block;*/
}

a[href*="tel"]{
    text-decoration: none;
    color: inherit;
}

/* Handsets */
@media all and (max-width: 700px) {
    a[href*="tel"]{
        color: #4dbeff;
        cursor: pointer;
        text-decoration: none;
    }
}

@media all and (max-width: 500px) {
    .masonry-container{
        -moz-column-count: 1;
        -moz-column-gap: 10px;
        -webkit-column-count: 1;
        -webkit-column-gap: 10px;
        column-count: 1;
        column-gap: 10px;
        /*display: inline-block;*/
    }
}

@media all and (min-width: 1300px) {
    .masonry-container{
        -moz-column-count: 3;
        -moz-column-gap: 20px;
        -webkit-column-count: 3;
        -webkit-column-gap: 20px;
        column-count: 3;
        column-gap: 20px;
        /*display: inline-block;*/
    }

}

.masonry-container  .masonry-inner{
    -webkit-column-break-inside:avoid;
    -moz-column-break-inside:avoid;
    -o-column-break-inside:avoid;
    -ms-column-break-inside:avoid;
    column-break-inside:avoid;
}



#header_toggle a{
    text-decoration: none;
    color: white;
    margin-bottom: 20px;
}
.social-links a{
    /*width: 38px;*/
    /*height: 38px;*/
    display:inline-block;
    margin: 3px;
}

img.code-logo{
    max-height: 50px;
}


/*Notifications*/
#notify-top{
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    display: none;
    background-color: #cd891e;
    color: white;
    padding: 10px 0;
    z-index: 100005;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
}
.notify-success{
    background-color: #339933 !important;
}
.notify-error{
    background-color: #cd070a !important;
}
.notify-warning{
    background-color: #cd881b !important;
}
#notify-title{
    font-size: 18px;
    font-weight: bold;
    display: block;
    margin: 0 50px 10px 50px;
}
#notify-subtitle{
    font-size: 14px;
    font-weight: normal;
    display: block;
    margin: 0 50px;
}
#notify-top a{
    display: block;
    float: right;
    color: white;
    margin-right: 50px;
}

#references table, #contact table{
    margin-bottom: 20px;
}
#references table td:first-child, #contact table td:first-child{
    text-align: center;
    max-width: 20px !important;
    width:20px;
}

#header_toggle a{
    padding: 0 10px;
}
#sidebar_toggle a{
    display: block;
    float:left;
    border-right: 1px solid #286f8d;
    min-width: 20px;
    padding: 0 12px;
    color:white;

}
#sidebar_toggle a:first-child{
    border-left: 1px solid #286f8d;
}
#sidebar_toggle a.active{
    background-color: #3a7bcb;
}
#sidebar_toggle a span.icon.en{
    font-size: 35px;
}
#sidebar_toggle a span.title{
    display:none;
}

/*@media all and (max-width: 600px) {*/
    /*#sidebar_toggle a{*/
        /*min-width: 18px;*/
        /*padding: 0 12px;*/
    /*}*/
/*}*/

/* INTRO WIZARD STYLES */
#intro-canvas{
    position:fixed;
    top:0;
    left:0;
    z-index:100000;
    /*width:100%;*/
    /*height:100%;*/
    opacity:0.7;
    display:none;
}
#intro-textbox, .textbox-box{
    position:fixed;
    z-index: 100001;
    background-color: #ebf3ff;
    /*color: #a08659;*/
    padding: 15px;
    /*border: 5px solid #a08659;*/
    /*border-radius: 8px;*/
    display:none;
    margin: auto;
    box-shadow: 3px 3px 2px rgba(0,0,0,0.3);
    width:80%;
    max-width: 400px;
}
#intro-next-btn, .textbox-next{
    display:block;
    margin: 0 auto 0 auto;
}

#intro-skip-btn{
    float:right;
    margin: -5px 0;
}
#intro-title, .textbox-title{
    font-size:20px;
    line-height: 28px;
    font-weight: bold;
}
#vcard-textbox, #vcard-textbox2{
    text-align:center;
}
#vcard-textbox button, #vcard-textbox2 button{
    margin: 8px 5px;
}

.hideTour{
    display:none !important;
}




/* STARTING OVER */

.so-container{
    color: #777;
    display: block;
    padding: 10px;
}
.so-container:hover{
    background-color: #ddd;
}
.so-photo{
    display: inline-block;
    width: 25%;
    text-align: center;
}
.so-photo img{
    vertical-align: top;
    display: inline-block;
    max-width: 80px;
}
.so-content{
    width: 35%;
    vertical-align: top;
    display: inline-block;
    text-align: center;
}
.so-username{
    font-size: 18px;
    margin-top: 0;
    font-weight: 200;
}
.so-points{
    font-size: 24px;
    color: black;
}

.so-badge{
    display: inline-block;
    padding: 3px 8px;
    color: white;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    min-width: 10px;
    text-align: center;
}
.so-badge.gold{
    background-color: goldenrod;
}
.so-badge.silver{
    background-color: silver;
}
.so-badge.bronze{
    background-color: saddlebrown;
}
.so-icon{
    width: 20px;
    height: auto;
}
@media (max-width: 600px){
    .so-content,
    .so-photo{
        width: 100%;
    }
}