<div class="container" xmlns="http://www.w3.org/1999/html" >
    <div class="box">
        <div class="content">
            <h1>Contact Me</h1>
        </div>
    </div>
    <div class="col_12">
        <div class="box" id="main-box">
            <div class="head">
                <h2>
                    <span class="title">Information</span>
                </h2>
            </div>
            <div class="content">
                <div class="col_6">
                    <table class="static_table highlight">
                        <tbody>
                            <tr>
                                <td><span class="icon ws">U</span> Name</td><td>{{info.name}}</td>
                            </tr>
                            <tr>
                                <td><span class="icon ws">@</span> Email</td><td>{{info.email}}</td>
                            </tr>
                            <tr>
                                <td><span class="icon en">!</span> Phone</td><td>{{info.phone}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col_6">
                    {{text}}
                </div>
            </div>
        </div>
    </div>
</div>
