<div class="container" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
    <div class="box">
        <div class="content">
            <em>I appreciate your sincere consideration and look forward to meeting you and working with you in the future.  I love working with people, creating inventive solutions to complex tasks, and working hard to accomplish a collective goal. I am a great team player and will be an excellent addition to your staff.</em>

        </div>
    </div>
    <div class="col_12">
        <div class="box" id="main-box">
            <div class="head">
                <h2>
                    <span class="title">A little about me...</span>
                </h2>
            </div>
            <div class="content">
                <div class="col_4">
                    <img src="img/headshot.jpg" style="width:90%;">
                </div><br>
                <div class="col_8 social-links">
                    I am ambitiously motivated, self-reliant, and determined to accomplish everything I set my mind to. My tenacity for work and love of a challenge enable me to complete tasks on time and efficiently. I am well organized, professional and enjoy getting to know others.
                    <br><br><br>
                    <a ng-repeat="site in social" href="{{site.link}}" class="tooltip" ng-tooltip="{{site.name}}">
                        <img ng-src="{{site.icon}}">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>