<!DOCTYPE html>
<html lang="en" ng-app="zb" ng-controller="Main">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

    <title>ZackBoman.com</title>

    <link rel="shortcut icon" href="app/images/favicon.ico"/>
    <link rel="apple-touch-icon" href="app/images/apple-touch-icon.png"/>

    <!--Stylesheets-->
    <link rel="stylesheet" type='text/css' href="stylesheets/style.css"/>
    <link rel="stylesheet" type='text/css' href="stylesheets/colors.css"/>
    <link rel="stylesheet" type='text/css' href="stylesheets/progress.css"/>
    <link rel="stylesheet" type='text/css' href="stylesheets/static.css"/>
    <link rel="stylesheet" type='text/css' href="stylesheets/tooltips.css"/>
    <link rel="stylesheet" type='text/css' href="css/app.css"/>

    <!--Scripts-->
    <script type="text/javascript" src="scripts/pdfobject.js"></script>
    <script type="text/javascript" src="scripts/jquery.library.1.7.2.js"></script>
    <script type="text/javascript" src="scripts/jquery.ui.library.custom.1.8.21.js"></script>
    <script type="text/javascript" src="scripts/jquery.accordion.js"></script>
    <script type="text/javascript" src="scripts/jquery.tabbed.js"></script>
    <script type="text/javascript" src="scripts/jquery.placeholder.js"></script>
    <script type="text/javascript" src="scripts/jquery.tipsy.js"></script>
    <script type="text/javascript" src="scripts/application.js"></script>

    <!--[if lt IE 9]>
    <script src="app/scripts/css3-mediaqueries.js"></script>
    <![endif]-->

</head>
<body>
    <div id="header">
        <!--<div id="header_toggle">-->
            <!--<a href="#/">-->
                <!--<span class="icon en">L</span>-->
                <!--<span class="title focus-text">ZackBoman.com</span>-->
            <!--</a>-->
            <!--<a href="#/resume">-->
                <!--<span class="icon en">w</span>-->
            <!--</a>-->
        <!--</div>-->
        <ul id="header_menu">
            <li class="left_item">
                <a href="#/">
                    <span class="icon en">L</span>
                    <span class="title focus-text">Zack Boman</span>
                </a>
            </li>
            <li class="left_item" id="header-resume">
                <a href="#/resume">
                    <span class="icon en">w</span>
                    <span class="title">My Resum&eacute;</span>
                </a>
            </li>
            <li class="left_item" ng-class="{hideTour: !isActive('/')}">
                <a ng-click="takeTour(true)">
                    <span class="icon en">3</span>
                    <span class="title">Take a tour!</span>
                </a>
            </li>
        </ul>
    </div>
    <div id="wrapper">
        <div id="sidebar">
            <div id="sidebar_toggle">
                <!--Navigation-->
                <div style="margin: 0 auto; width: 280px;">
                    <a data-href="#/work-samples" ng-class="{active: isActive('/work-samples')}">
                        <span class="icon en">s</span>
                        <span class="title">Work Samples</span>
                    </a>
                    <a data-href="#/qualifications" ng-class="{active: isActive('/qualifications')}">
                        <span class="icon en">l</span>
                        <span class="title">Qualifications</span>
                    </a>
                    <a data-href="#/education" ng-class="{active: isActive('/education')}">
                        <span class="icon en">?</span>
                        <span class="title">Education</span>
                    </a>
                    <a data-href="#/work-experience" ng-class="{active: isActive('/work-experience')}">
                        <span class="icon en">N</span>
                        <span class="title">Work Experience</span>
                    </a>
                    <a data-href="#/references" ng-class="{active: isActive('/references')}">
                        <span class="icon en">,</span>
                        <span class="title">References</span>
                    </a>
                    <a data-href="#/contact" ng-class="{active: isActive('/contact')}">
                        <span class="icon en">!</span>
                        <span class="title">Contact Me</span>
                    </a>
                    <!--<a ng-click="takeTour(true)" ng-class="{hideTour: !isActive('/')}">-->
                        <!--<span class="icon en">3</span>-->
                        <!--<span class="title">Take a tour!</span>-->
                    <!--</a>-->
                </div>
            </div>
            <div id="sidebar_menu">
                <div class="menu_item add_menu" ng-class="{current: isActive('/work-samples')}">
                    <a>
                        <span class="icon en">s</span>
                        <span class="title">Work Samples</span>
                    </a>
                </div>
                <ul class="sub_menu">
                    <li ng-repeat="sample in workSamples">
                        <a href="{{sample.link}}">{{sample.text}}</a>
                    </li>
                </ul>
                <div class="menu_item" ng-class="{current: isActive('/qualifications')}">
                    <a href="#/qualifications">
                        <span class="icon en">l</span>
                        <span class="title">Qualifications</span>
                    </a>
                </div>
                <div class="menu_item" ng-class="{current: isActive('/education')}">
                    <a href="#/education">
                        <span class="icon en">?</span>
                        <span class="title">Education</span>
                    </a>
                </div>
                <div class="menu_item" ng-class="{current: isActive('/work-experience')}">
                    <a href="#/work-experience">
                        <span class="icon en">N</span>
                        <span class="title">Work Experience</span>
                    </a>
                </div>
                <div class="menu_item" ng-class="{current: isActive('/references')}">
                    <a href="#/references">
                        <span class="icon en">,</span>
                        <span class="title">References</span>
                    </a>
                </div>
                <div class="menu_item" ng-class="{current: isActive('/contact')}">
                    <a href="#/contact">
                        <span class="icon en">!</span>
                        <span class="title">Contact Me</span>
                    </a>
                </div>
                <div class="menu_item" ng-class="{hideTour: !isActive('/')}">
                    <a ng-click="takeTour(true)">
                        <span class="icon en">3</span>
                        <span class="title">Take a tour!</span>
                    </a>
                </div>
            </div>
        </div>
        <div id="main_content" ng-view></div>
    </div>

    <div id="notify-top">
        <a href="#">Dismiss</a>
        <span class="title" id="notify-title"></span>
        <span id="notify-subtitle"></span>
    </div>


    <div id='intro-textbox' class='box'>
        <div class='content'>
            <a ng-click='Intro.end();' id='intro-skip-btn'>Skip Tour</a>
            <span id='intro-title'></span><br>
            <span id='intro-description'></span><br>
            <span id='intro-content' ng-bind-html-unsafe="Intro.content"></span><br>
            <button class='button small dodger rounded textbox-next' ng-click='Intro.next();' id='intro-next-btn'>Next</button>
        </div>
    </div>
    <canvas id='intro-canvas' width=500 height=500></canvas>

    <div id='vcard-textbox' class='box textbox-box'>
        <div class='content'>
            <span id='vcard-title' class="textbox-title">Download vCard</span><br>
            <span id='vcard-description'></span><br>
            <button class='button small dodger rounded textbox-next' ng-click='Intro.next();'>Download</button>
            <button class='button small rounded white textbox-next' ng-click='Intro.end();'>No Thanks</button>
        </div>
    </div>

    <div id='vcard-textbox2' class='box textbox-box'>
        <div class='content'>
            <span class="textbox-title">Enter Your Email</span><br>
            <span>Your mobile browser doesn't support downloads of this file type. Instead of downloading it directly, please enter your email below and I will email you the vCard file.</span><br>
            <input type="text" placeholder="Type your email address..." id="vcard-email">
            <button class='button small dodger rounded textbox-next' ng-click='Intro.next();'>Send Email</button>
            <button class='button small rounded white textbox-next' ng-click='Intro.end();'>No Thanks</button>
        </div>
    </div>

    <script src="lib/angular/angular.js"></script>
    <script src="js/app.js"></script>
    <script src="js/services.js"></script>
    <script src="js/controllers/main.js"></script>
    <script src="js/controllers/work-samples.js"></script>
    <script src="js/filters.js"></script>
    <script src="js/directives.js"></script>

</body>


</html>