/* Colors For Various Elements */
ul.data_boxes > li.red:after, input[type="submit"].red, button.red, .checkbox.red .checkbox_container label.checkbox_on, .custom_checkbox.red .checkbox_container label.checkbox_on, .note.red, .ui-progressbar.red .ui-progressbar-value, a.button.red, .content a.button.rounded.red, .fc-event.fc-event-skin.red, .messages li.red .message {
	background-color: #fc566c!important;
}
ul.data_boxes > li.pink:after, input[type="submit"].pink, button.pink, .checkbox.pink .checkbox_container label.checkbox_on, .custom_checkbox.pink .checkbox_container label.checkbox_on, .note.pink, .ui-progressbar.pink .ui-progressbar-value, a.button.pink, .content a.button.rounded.pink, .fc-event.fc-event-skin.pink, .messages li.pink .message {
	background-color: #fc5698!important;
}
ul.data_boxes > li.fuchsia:after, input[type="submit"].fuchsia, button.fuchsia, .checkbox.fuchsia .checkbox_container label.checkbox_on, .custom_checkbox.fuchsia .checkbox_container label.checkbox_on, .note.fuchsia, .ui-progressbar.fuchsia .ui-progressbar-value, a.button.fuchsia, .content a.button.rounded.fuchsia, .fc-event.fc-event-skin.fuchsia, .messages li.fuchsia .message {
	background-color: #c058ed!important;
}
ul.data_boxes > li.purple:after, input[type="submit"].purple, button.purple, .checkbox.purple .checkbox_container label.checkbox_on, .custom_checkbox.purple .checkbox_container label.checkbox_on, .note.purple, .ui-progressbar.purple .ui-progressbar-value, a.button.purple, .content a.button.rounded.purple, .fc-event.fc-event-skin.purple, .messages li.purple .message {
	background-color: #7457eb!important;
}
ul.data_boxes > li.dodger:after, input[type="submit"].dodger, button.dodger, .checkbox.dodger .checkbox_container label.checkbox_on, .custom_checkbox.dodger .checkbox_container label.checkbox_on, .note.dodger, .ui-progressbar.dodger .ui-progressbar-value, a.button.dodger, .content a.button.rounded.dodger, .fc-event.fc-event-skin.dodger, .messages li.dodger .message {
	background-color: #5485f7!important;
}
ul.data_boxes > li.blue:after, input[type="submit"].blue, button.blue, .checkbox.blue .checkbox_container label.checkbox_on, .custom_checkbox.blue .checkbox_container label.checkbox_on, .note.blue, .ui-progressbar.blue .ui-progressbar-value, a.button.blue, .content a.button.rounded.blue, .fc-event.fc-event-skin.blue, .messages li.blue .message {
	background-color: #5cc3ff!important;
}
ul.data_boxes > li.aqua:after, input[type="submit"].aqua, button.aqua, .checkbox.aqua .checkbox_container label.checkbox_on, .custom_checkbox.aqua .checkbox_container label.checkbox_on, .note.aqua, .ui-progressbar.aqua .ui-progressbar-value, a.button.aqua, .content a.button.rounded.aqua, .fc-event.fc-event-skin.aqua, .messages li.aqua .message {
	background-color: #66eef2!important;
}
ul.data_boxes > li.green:after, input[type="submit"].green, button.green, .checkbox.green .checkbox_container label.checkbox_on, .custom_checkbox.green .checkbox_container label.checkbox_on, .note.green, .ui-progressbar.green .ui-progressbar-value, a.button.green, .content a.button.rounded.green, .fc-event.fc-event-skin.green, .messages li.green .message {
	background-color: #7de36d!important;
}
ul.data_boxes > li.yellow:after, input[type="submit"].yellow, button.yellow, .checkbox.yellow .checkbox_container label.checkbox_on, .custom_checkbox.yellow .checkbox_container label.checkbox_on, .note.yellow, .ui-progressbar.yellow .ui-progressbar-value, a.button.yellow, .content a.button.rounded.yellow, .fc-event.fc-event-skin.yellow, .messages li.yellow .message {
	background-color: #e2e831!important;
}
ul.data_boxes > li.orange:after, input[type="submit"].orange, button.orange, .checkbox.orange .checkbox_container label.checkbox_on, .custom_checkbox.orange .checkbox_container label.checkbox_on, .note.orange, .ui-progressbar.orange .ui-progressbar-value, a.button.orange, .content a.button.rounded.orange, .fc-event.fc-event-skin.orange, .messages li.orange .message {
	background-color: #f5b31b!important;
}
ul.data_boxes > li.coral:after, input[type="submit"].coral, button.coral, .checkbox.coral .checkbox_container label.checkbox_on, .custom_checkbox.coral .checkbox_container label.checkbox_on, .note.coral, .ui-progressbar.coral .ui-progressbar-value, a.button.coral, .content a.button.rounded.coral, .fc-event.fc-event-skin.coral, .messages li.coral .message {
	background-color: #fa772a!important;
}
ul.data_boxes > li.sepia:after, input[type="submit"].sepia, button.sepia, .checkbox.sepia .checkbox_container label.checkbox_on, .custom_checkbox.sepia .checkbox_container label.checkbox_on, .note.sepia, .ui-progressbar.sepia .ui-progressbar-value, a.button.sepia, .content a.button.rounded.sepia, .fc-event.fc-event-skin.sepia, .messages li.sepia .message {
	background-color: #b27474!important;
}
ul.data_boxes > li.brown:after, input[type="submit"].brown, button.brown, .checkbox.brown .checkbox_container label.checkbox_on, .custom_checkbox.brown .checkbox_container label.checkbox_on, .note.brown, .ui-progressbar.brown .ui-progressbar-value, a.button.brown, .content a.button.rounded.brown, .fc-event.fc-event-skin.brown, .messages li.brown .message {
	background-color: #b58b76!important;
}
ul.data_boxes > li.plum:after, input[type="submit"].plum, button.plum, .checkbox.plum .checkbox_container label.checkbox_on, .custom_checkbox.plum .checkbox_container label.checkbox_on, .note.plum, .ui-progressbar.plum .ui-progressbar-value, a.button.plum, .content a.button.rounded.plum, .fc-event.fc-event-skin.plum, .messages li.plum .message {
	background-color: #cf7693!important;
}
ul.data_boxes > li.navy:after, input[type="submit"].navy, button.navy, .checkbox.navy .checkbox_container label.checkbox_on, .custom_checkbox.navy .checkbox_container label.checkbox_on, .note.navy, .ui-progressbar.navy .ui-progressbar-value, a.button.navy, .content a.button.rounded.navy, .fc-event.fc-event-skin.navy, .messages li.navy .message {
	background-color: #768bb5!important;
}
ul.data_boxes > li.cadet:after, input[type="submit"].cadet, button.cadet, .checkbox.cadet .checkbox_container label.checkbox_on, .custom_checkbox.cadet .checkbox_container label.checkbox_on, .note.cadet, .ui-progressbar.cadet .ui-progressbar-value, a.button.cadet, .content a.button.rounded.cadet, .fc-event.fc-event-skin.cadet, .messages li.cadet .message {
	background-color: #7aa9cc!important;
}
ul.data_boxes > li.mint:after, input[type="submit"].mint, button.mint, .checkbox.mint .checkbox_container label.checkbox_on, .custom_checkbox.mint .checkbox_container label.checkbox_on, .note.mint, .ui-progressbar.mint .ui-progressbar-value, a.button.mint, .content a.button.rounded.mint, .fc-event.fc-event-skin.mint, .messages li.mint .message {
	background-color: #78c5cc!important;
}
ul.data_boxes > li.tropical:after, input[type="submit"].tropical, button.tropical, .checkbox.tropical .checkbox_container label.checkbox_on, .custom_checkbox.tropical .checkbox_container label.checkbox_on, .note.tropical, .ui-progressbar.tropical .ui-progressbar-value, a.button.tropical, .content a.button.rounded.tropical, .fc-event.fc-event-skin.tropical, .messages li.tropical .message {
	background-color: #76b593!important;
}
ul.data_boxes > li.olive:after, input[type="submit"].olive, button.olive, .checkbox.olive .checkbox_container label.checkbox_on, .custom_checkbox.olive .checkbox_container label.checkbox_on, .note.olive, .ui-progressbar.olive .ui-progressbar-value, a.button.olive, .content a.button.rounded.olive, .fc-event.fc-event-skin.olive, .messages li.olive .message {
	background-color: #87b570!important;
}
ul.data_boxes > li.khaki:after, input[type="submit"].khaki, button.khaki, .checkbox.khaki .checkbox_container label.checkbox_on, .custom_checkbox.khaki .checkbox_container label.checkbox_on, .note.khaki, .ui-progressbar.khaki .ui-progressbar-value, a.button.khaki, .content a.button.rounded.khaki, .fc-event.fc-event-skin.khaki, .messages li.khaki .message {
	background-color: #aab572!important;
}
ul.data_boxes > li.black:after, input[type="submit"].black, button.black, .checkbox.black .checkbox_container label.checkbox_on, .custom_checkbox.black .checkbox_container label.checkbox_on, .note.black, .ui-progressbar.black .ui-progressbar-value, a.button.black, .content a.button.rounded.black, .fc-event.fc-event-skin.black, .messages li.black .message {
	background-color: #222429!important;
}
ul.data_boxes > li.white:after, input[type="submit"].white, button.white, .checkbox.white .checkbox_container label.checkbox_on, .custom_checkbox.white .checkbox_container label.checkbox_on, .note.white, .ui-progressbar.white .ui-progressbar-value, a.button.white, .content a.button.rounded.white, .fc-event.fc-event-skin.white, .messages li.white .message {
	background-color: #f5f5f5!important;
    color: black;
}
ul.data_boxes > li.dark:after, input[type="submit"].dark, button.dark, .checkbox.dark .checkbox_container label.checkbox_on, .custom_checkbox.dark .checkbox_container label.checkbox_on, .note.dark, .ui-progressbar.dark .ui-progressbar-value, a.button.dark, .content a.button.rounded.dark, .fc-event.fc-event-skin.dark, .messages li.dark .message {
	background-color: #3b465c!important;
}

/* Slider Colors */
p.slider.red       .jslider .jslider-bg .v { background-position: 0px -7px!important; }
p.slider.pink      .jslider .jslider-bg .v { background-position: 0px -13px!important; }
p.slider.fuchsia   .jslider .jslider-bg .v { background-position: 0px -19px!important; }
p.slider.purple    .jslider .jslider-bg .v { background-position: 0px -25px!important; }
p.slider.dodger    .jslider .jslider-bg .v { background-position: 0px -31px!important; }
p.slider.blue      .jslider .jslider-bg .v { background-position: 0px -37px!important; }
p.slider.aqua      .jslider .jslider-bg .v { background-position: 0px -43px!important; }
p.slider.green     .jslider .jslider-bg .v { background-position: 0px -49px!important; }
p.slider.yellow    .jslider .jslider-bg .v { background-position: 0px -55px!important; }
p.slider.orange    .jslider .jslider-bg .v { background-position: 0px -61px!important; }
p.slider.coral     .jslider .jslider-bg .v { background-position: 0px -67px!important; }
p.slider.sepia     .jslider .jslider-bg .v { background-position: 0px -73px!important; }
p.slider.brown     .jslider .jslider-bg .v { background-position: 0px -79px!important; }
p.slider.plum      .jslider .jslider-bg .v { background-position: 0px -85px!important; }
p.slider.navy      .jslider .jslider-bg .v { background-position: 0px -91px!important; }
p.slider.cadet     .jslider .jslider-bg .v { background-position: 0px -97px!important; }
p.slider.mint      .jslider .jslider-bg .v { background-position: 0px -103px!important; }
p.slider.tropical  .jslider .jslider-bg .v { background-position: 0px -109px!important; }
p.slider.olive     .jslider .jslider-bg .v { background-position: 0px -115px!important; }
p.slider.khaki     .jslider .jslider-bg .v { background-position: 0px -121px!important; }
p.slider.black     .jslider .jslider-bg .v { background-position: 0px -127px!important; }
p.slider.dark      .jslider .jslider-bg .v { background-position: 0px -133px!important; }
p.slider.white     .jslider .jslider-bg .v { background-position: 0px -139px!important; }

/* Rounded Button Border */
input[type="submit"].white, a.button.rounded.white { border: 1px solid #666e80!important; }
input[type="submit"].black, a.button.rounded.black { border: 1px solid #15171a!important; }
input[type="submit"].dark, a.button.rounded.dark { border: 1px solid #020203!important; }
input[type="submit"].red, a.button.rounded.red { border: 1px solid #a33746!important; }
input[type="submit"].pink, a.button.rounded.pink { border: 1px solid #a33763!important; }
input[type="submit"].fuchsia, a.button.rounded.fuchsia { border: 1px solid #783794!important; }
input[type="submit"].purple, a.button.rounded.purple { border: 1px solid #483691!important; }
input[type="submit"].dodger, a.button.rounded.dodger { border: 1px solid #36559e!important; }
input[type="submit"].blue, a.button.rounded.blue { border: 1px solid #3c7fa6!important; }
input[type="submit"].aqua, a.button.rounded.aqua { border: 1px solid #409699!important; }
input[type="submit"].green, a.button.rounded.green { border: 1px solid #4c8a42!important; }
input[type="submit"].yellow, a.button.rounded.yellow { border: 1px solid #8b8f1e!important; }
input[type="submit"].orange, a.button.rounded.orange { border: 1px solid #9c7211!important; }
input[type="submit"].coral, a.button.rounded.coral { border: 1px solid #a14c1b!important; }
input[type="submit"].sepia, a.button.rounded.sepia { border: 1px solid #593a3a!important; }
input[type="submit"].brown, a.button.rounded.brown { border: 1px solid #5c463c!important; }
input[type="submit"].plum, a.button.rounded.plum { border: 1px solid #754354!important; }
input[type="submit"].navy, a.button.rounded.navy { border: 1px solid #3c465c!important; }
input[type="submit"].cadet, a.button.rounded.cadet { border: 1px solid #455f73!important; }
input[type="submit"].mint, a.button.rounded.mint { border: 1px solid #446f73!important; }
input[type="submit"].tropical, a.button.rounded.tropical { border: 1px solid #3c5c4b!important; }
input[type="submit"].olive, a.button.rounded.olive { border: 1px solid #455c39!important; }
input[type="submit"].khaki, a.button.rounded.khaki { border: 1px solid #565c3a!important; }

/* Buttons Hover */
input[type="submit"].white:hover, button.white:hover, a.button.white:hover, a.button.rounded.white:hover { background-color: #dbdbdb!important; }
input[type="submit"].black:hover, button.black:hover, a.button.black:hover, a.button.rounded.black:hover { background-color: #0d0d0f!important; }
input[type="submit"].dark:hover, button.dark:hover, a.button.dark:hover, a.button.rounded.dark:hover { background-color: #2a3242!important; }
input[type="submit"].red:hover, button.red:hover, a.button.red:hover, a.button.rounded.red:hover { background-color: #e34d61!important; }
input[type="submit"].pink:hover, button.pink:hover, a.button.pink:hover, a.button.rounded.pink:hover { background-color: #e34d89!important; }
input[type="submit"].fuchsia:hover, button.fuchsia:hover, a.button.fuchsia:hover, a.button.rounded.fuchsia:hover { background-color: #ac4ed4!important; }
input[type="submit"].purple:hover, button.purple:hover, a.button.purple:hover, a.button.rounded.purple:hover { background-color: #684dd1!important; }
input[type="submit"].dodger:hover, button.dodger:hover, a.button.dodger:hover, a.button.rounded.dodger:hover { background-color: #4b77de!important; }
input[type="submit"].blue:hover, button.blue:hover, a.button.blue:hover, a.button.rounded.blue:hover { background-color: #53b0e5!important; }
input[type="submit"].aqua:hover, button.aqua:hover, a.button.aqua:hover, a.button.rounded.aqua:hover { background-color: #5bd5d9!important; }
input[type="submit"].green:hover, button.green:hover, a.button.green:hover, a.button.rounded.green:hover { background-color: #6fc961!important; }
input[type="submit"].yellow:hover, button.yellow:hover, a.button.yellow:hover, a.button.rounded.yellow:hover { background-color: #c9cf2b!important; }
input[type="submit"].orange:hover, button.orange:hover, a.button.orange:hover, a.button.rounded.orange:hover { background-color: #dba118!important; }
input[type="submit"].coral:hover, button.coral:hover, a.button.coral:hover, a.button.rounded.coral:hover { background-color: #e06a26!important; }
input[type="submit"].sepia:hover, button.sepia:hover, a.button.sepia:hover, a.button.rounded.sepia:hover { background-color: #996363!important; }
input[type="submit"].brown:hover, button.brown:hover, a.button.brown:hover, a.button.rounded.brown:hover { background-color: #9c7765!important; }
input[type="submit"].plum:hover, button.plum:hover, a.button.plum:hover, a.button.rounded.plum:hover { background-color: #b56781!important; }
input[type="submit"].navy:hover, button.navy:hover, a.button.navy:hover, a.button.rounded.navy:hover { background-color: #65779c!important; }
input[type="submit"].cadet:hover, button.cadet:hover, a.button.cadet:hover, a.button.rounded.cadet:hover { background-color: #6b94b3!important; }
input[type="submit"].mint:hover, button.mint:hover, a.button.mint:hover, a.button.rounded.mint:hover { background-color: #69acb3!important; }
input[type="submit"].tropical:hover, button.tropical:hover, a.button.tropical:hover, a.button.rounded.tropical:hover { background-color: #659c7f!important; }
input[type="submit"].olive:hover, button.olive:hover, a.button.olive:hover, a.button.rounded.olive:hover { background-color: #749c60!important; }
input[type="submit"].khaki:hover, button.khaki:hover, a.button.khaki:hover, a.button.rounded.khaki:hover { background-color: #929c5f!important; }

/* Buttons Active */
input[type="submit"].white:active, button.white:active, a.button.white:active, a.button.rounded.white:active { background-color: #c2c2c2!important; }
input[type="submit"].black:active, button.black:active, a.button.black:active, a.button.rounded.black:active { background-color: #000000!important; }
input[type="submit"].dark:active, button.dark:active, a.button.dark:active, a.button.rounded.dark:active { background-color: #242b38!important; }
input[type="submit"].red:active, button.red:active, a.button.red:active, a.button.rounded.red:active { background-color: #e34d61!important; }
input[type="submit"].pink:active, button.pink:active, a.button.pink:active, a.button.rounded.pink:active { background-color: #c9447a!important; }
input[type="submit"].fuchsia:active, button.fuchsia:active, a.button.fuchsia:active, a.button.rounded.fuchsia:active { background-color: #9745ba!important; }
input[type="submit"].purple:active, button.purple:active, a.button.purple:active, a.button.rounded.purple:active { background-color: #5b44b8!important; }
input[type="submit"].dodger:active, button.dodger:active, a.button.dodger:active, a.button.rounded.dodger:active { background-color: #436ac4!important; }
input[type="submit"].blue:active, button.blue:active, a.button.blue:active, a.button.rounded.blue:active { background-color: #499ccc!important; }
input[type="submit"].aqua:active, button.aqua:active, a.button.aqua:active, a.button.rounded.aqua:active { background-color: #50bcbf!important; }
input[type="submit"].green:active, button.green:active, a.button.green:active, a.button.rounded.green:active { background-color: #61b054!important; }
input[type="submit"].yellow:active, button.yellow:active, a.button.yellow:active, a.button.rounded.yellow:active { background-color: #b0b526!important; }
input[type="submit"].orange:active, button.orange:active, a.button.orange:active, a.button.rounded.orange:active { background-color: #c28e15!important; }
input[type="submit"].coral:active, button.coral:active, a.button.coral:active, a.button.rounded.coral:active { background-color: #c75e22!important; }
input[type="submit"].sepia:active, button.sepia:active, a.button.sepia:active, a.button.rounded.sepia:active { background-color: #805353!important; }
input[type="submit"].brown:active, button.brown:active, a.button.brown:active, a.button.rounded.brown:active { background-color: #826455!important; }
input[type="submit"].plum:active, button.plum:active, a.button.plum:active, a.button.rounded.plum:active { background-color: #9c596f!important; }
input[type="submit"].navy:active, button.navy:active, a.button.navy:active, a.button.rounded.navy:active { background-color: #556482!important; }
input[type="submit"].cadet:active, button.cadet:active, a.button.cadet:active, a.button.rounded.cadet:active { background-color: #5c7e99!important; }
input[type="submit"].mint:active, button.mint:active, a.button.mint:active, a.button.rounded.mint:active { background-color: #5a9499!important; }
input[type="submit"].tropical:active, button.tropical:active, a.button.tropical:active, a.button.rounded.tropical:active { background-color: #55826a!important; }
input[type="submit"].olive:active, button.olive:active, a.button.olive:active, a.button.rounded.olive:active { background-color: #61824f!important; }
input[type="submit"].khaki:active, button.khaki:active, a.button.khaki:active, a.button.rounded.khaki:active { background-color: #7a8252!important; }

/* Labels */
#header ul#header_menu > li.label.red > a:after,
#sidebar #sidebar_menu > .menu_item.label.red > a:after,
#header ul#header_menu > li ul > li.label.red a:after {
	background: url(../images/labels.png) no-repeat scroll -572px 0px transparent;
}
#header ul#header_menu > li.label.pink > a:after,
#sidebar #sidebar_menu > .menu_item.label.pink > a:after,
#header ul#header_menu > li ul > li.label.pink a:after {
	background: url(../images/labels.png) no-repeat scroll -546px -26px transparent;
}
#header ul#header_menu > li.label.fuchsia > a:after,
#sidebar #sidebar_menu > .menu_item.label.fuchsia > a:after,
#header ul#header_menu > li ul > li.label.fuchsia a:after {
	background: url(../images/labels.png) no-repeat scroll -520px -52px transparent;
}
#header ul#header_menu > li.label.purple > a:after,
#sidebar #sidebar_menu > .menu_item.label.purple > a:after,
#header ul#header_menu > li ul > li.label.purple a:after {
	background: url(../images/labels.png) no-repeat scroll -494px -78px transparent;
}
#header ul#header_menu > li.label.dodger > a:after,
#sidebar #sidebar_menu > .menu_item.label.dodger > a:after,
#header ul#header_menu > li ul > li.label.dodger a:after {
	background: url(../images/labels.png) no-repeat scroll -468px -104px transparent;
}
#header ul#header_menu > li.label.blue > a:after,
#sidebar #sidebar_menu > .menu_item.label.blue > a:after,
#header ul#header_menu > li ul > li.label.blue a:after {
	background: url(../images/labels.png) no-repeat scroll -442px -130px transparent;
}
#header ul#header_menu > li.label.aqua > a:after,
#sidebar #sidebar_menu > .menu_item.label.aqua > a:after,
#header ul#header_menu > li ul > li.label.aqua a:after {
	background: url(../images/labels.png) no-repeat scroll -416px -156px transparent;
}
#header ul#header_menu > li.label.green > a:after,
#sidebar #sidebar_menu > .menu_item.label.green > a:after,
#header ul#header_menu > li ul > li.label.green a:after {
	background: url(../images/labels.png) no-repeat scroll -390px -182px transparent;
}
#header ul#header_menu > li.label.yellow > a:after,
#sidebar #sidebar_menu > .menu_item.label.yellow > a:after,
#header ul#header_menu > li ul > li.label.yellow a:after {
	background: url(../images/labels.png) no-repeat scroll -364px -208px transparent;
}
#header ul#header_menu > li.label.orange > a:after,
#sidebar #sidebar_menu > .menu_item.label.orange > a:after,
#header ul#header_menu > li ul > li.label.orange a:after {
	background: url(../images/labels.png) no-repeat scroll -338px -234px transparent;
}
#header ul#header_menu > li.label.coral > a:after,
#sidebar #sidebar_menu > .menu_item.label.coral > a:after,
#header ul#header_menu > li ul > li.label.coral a:after {
	background: url(../images/labels.png) no-repeat scroll -312px -260px transparent;
}
#header ul#header_menu > li.label.sepia > a:after,
#sidebar #sidebar_menu > .menu_item.label.sepia > a:after,
#header ul#header_menu > li ul > li.label.sepia a:after {
	background: url(../images/labels.png) no-repeat scroll -286px -286px transparent;
}
#header ul#header_menu > li.label.brown > a:after,
#sidebar #sidebar_menu > .menu_item.label.brown > a:after,
#header ul#header_menu > li ul > li.label.brown a:after {
	background: url(../images/labels.png) no-repeat scroll -260px -312px transparent;
}
#header ul#header_menu > li.label.plum > a:after,
#sidebar #sidebar_menu > .menu_item.label.plum > a:after,
#header ul#header_menu > li ul > li.label.plum a:after {
	background: url(../images/labels.png) no-repeat scroll -234px -338px transparent;
}
#header ul#header_menu > li.label.navy > a:after,
#sidebar #sidebar_menu > .menu_item.label.navy > a:after,
#header ul#header_menu > li ul > li.label.navy a:after {
	background: url(../images/labels.png) no-repeat scroll -208px -364px transparent;
}
#header ul#header_menu > li.label.cadet > a:after,
#sidebar #sidebar_menu > .menu_item.label.cadet > a:after,
#header ul#header_menu > li ul > li.label.cadet a:after {
	background: url(../images/labels.png) no-repeat scroll -182px -390px transparent;
}
#header ul#header_menu > li.label.mint > a:after,
#sidebar #sidebar_menu > .menu_item.label.mint > a:after,
#header ul#header_menu > li ul > li.label.mint a:after {
	background: url(../images/labels.png) no-repeat scroll -156px -416px transparent;
}
#header ul#header_menu > li.label.tropical > a:after,
#sidebar #sidebar_menu > .menu_item.label.tropical > a:after,
#header ul#header_menu > li ul > li.label.tropical a:after {
	background: url(../images/labels.png) no-repeat scroll -130px -442px transparent;
}
#header ul#header_menu > li.label.olive > a:after,
#sidebar #sidebar_menu > .menu_item.label.olive > a:after,
#header ul#header_menu > li ul > li.label.olive a:after {
	background: url(../images/labels.png) no-repeat scroll -104px -468px transparent;
}
#header ul#header_menu > li.label.khaki > a:after,
#sidebar #sidebar_menu > .menu_item.label.khaki > a:after,
#header ul#header_menu > li ul > li.label.khaki a:after {
	background: url(../images/labels.png) no-repeat scroll -78px -494px transparent;
}
#header ul#header_menu > li.label.black > a:after,
#sidebar #sidebar_menu > .menu_item.label.black > a:after,
#header ul#header_menu > li ul > li.label.black a:after {
	background: url(../images/labels.png) no-repeat scroll -52px -520px transparent;
}
#header ul#header_menu > li.label.white > a:after,
#sidebar #sidebar_menu > .menu_item.label.white > a:after,
#header ul#header_menu > li ul > li.label.white a:after {
	background: url(../images/labels.png) no-repeat scroll -26px -546px transparent;
}
#header ul#header_menu > li.label.dark > a:after,
#sidebar #sidebar_menu > .menu_item.label.dark > a:after,
#header ul#header_menu > li ul > li.label.dark a:after {
	background: url(../images/labels.png) no-repeat scroll -0px -572px transparent;
}

/* Text Colors */
.text_white { color: #ffffff!important; }
.text_black { color: #000000!important; }
.text_dark { color: #3b465c!important; }
.text_red { color: #fc566c!important; }
.text_pink { color: #fc5698!important; }
.text_fuchsia { color: #c058ed!important; }
.text_purple { color: #7457eb!important; }
.text_dodger { color: #5485f7!important; }
.text_blue { color: #5cc3ff!important; }
.text_aqua { color: #66eef2!important; }
.text_green { color: #7de36d!important; }
.text_yellow { color: #e2e831!important; }
.text_orange { color: #f5b31b!important; }
.text_coral { color: #fa772a!important; }
.text_sepia { color: #b27474!important; }
.text_brown { color: #b58b76!important; }
.text_plum { color: #cf7693!important; }
.text_navy { color: #768bb5!important; }
.text_cadet { color: #7aa9cc!important; }
.text_mint { color: #78c5cc!important; }
.text_tropical { color: #76b593!important; }
.text_olive { color: #87b570!important; }
.text_khaki { color: #aab572!important; }