.select2-container {
	position: relative;
	width: 100%!important;
	display: inline-block;
}
.select2-container,
.select2-drop,
.select2-search,
.select2-search input {
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-khtml-box-sizing: border-box;
	box-sizing: border-box;
}
.select2-container .select2-choice {
	background: #ebf3ff;
	border: 1px solid #7a8599;
	color: #46494d;
	display: block;
	overflow: hidden;
	white-space: nowrap;
	position: relative;
	font: normal 13px/36px Helvetica, Arial, sans-serif;
	text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.25);
	text-decoration: none;
	height: 36px;
	padding: 0px 0px 0px 10px;
 	width: 100%!important;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	outline: none;
	z-index: 11000;
	-webkit-border-radius: 3px 3px 3px 3px;
	   -moz-border-radius: 3px 3px 3px 3px;
	        border-radius: 3px 3px 3px 3px;
	-webkit-box-shadow:  0px 1px 2px rgba(0, 0, 0, 0.15), 0px 0px 4px rgba(0, 0, 0, 0.08) inset;
	   -moz-box-shadow:  0px 1px 2px rgba(0, 0, 0, 0.15), 0px 0px 4px rgba(0, 0, 0, 0.08) inset;
	        box-shadow:  0px 1px 2px rgba(0, 0, 0, 0.15), 0px 0px 4px rgba(0, 0, 0, 0.08) inset;
	background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.04), rgba(0, 0, 0, 0.04));
	   background-image: -moz-linear-gradient(rgba(255, 255, 255, 0.04), rgba(0, 0, 0, 0.04));
	    background-image: -ms-linear-gradient(rgba(255, 255, 255, 0.04), rgba(0, 0, 0, 0.04));
	     background-image: -o-linear-gradient(rgba(255, 255, 255, 0.04), rgba(0, 0, 0, 0.04));
}
.select2-container .select2-choice span {
	margin-right: 45px;
	display: block;
	overflow: hidden;
	white-space: nowrap;
	-o-text-overflow: ellipsis;
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
}
.select2-container .select2-choice abbr {
	display: block;
	position: absolute;
	right: 26px;
	top: 12px;
	width: 12px;
	height: 12px;
	font-size: 1px;
	background: url(../images/select_sprite.png) right top no-repeat;
	cursor: pointer;
	text-decoration: none;
	border:0;
	outline: 0;
}
.select2-container .select2-choice abbr:hover {
	background-position: right -11px;
	cursor: pointer;
}
.select2-container .select2-drop {
	background: #ebf3ff;
	border: 1px solid #7a8599;
	border-top: 0;
	position: absolute;
	top: 100%!important;
	z-index: 12000;
	width:100%;
	margin: -1px 0px 0px 0px;
	-webkit-border-radius: 0px 0px 3px 3px;
	   -moz-border-radius: 0px 0px 3px 3px;
	        border-radius: 0px 0px 3px 3px;
	-webkit-box-shadow:  0px 1px 6px rgba(0, 0, 0, 0.15);
	   -moz-box-shadow:  0px 1px 6px rgba(0, 0, 0, 0.15);
	        box-shadow:  0px 1px 6px rgba(0, 0, 0, 0.15);
	background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.04), rgba(0, 0, 0, 0.04));
	   background-image: -moz-linear-gradient(rgba(255, 255, 255, 0.04), rgba(0, 0, 0, 0.04));
	    background-image: -ms-linear-gradient(rgba(255, 255, 255, 0.04), rgba(0, 0, 0, 0.04));
	     background-image: -o-linear-gradient(rgba(255, 255, 255, 0.04), rgba(0, 0, 0, 0.04));
}
.select2-container .select2-choice div {
	position: absolute;
	right: 5px;
	top: 5px;
	display: block;
	height: 18px;
	width: 18px;
}
.select2-container .select2-choice div b {
	background: url(../images/select_sprite.png) no-repeat 0 1px;
	display: block;
	height: 18px;
	width: 18px;
}
.select2-container .select2-search {
	display: block;
	white-space: nowrap;
	z-index: 13000;
	width: 100%;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}
.select2-container .select2-search-hidden {
	display: block;
	position: absolute;
	left: -10000px;
}
.select2-container .select2-search input {
	border: 0;
	outline: 0;
	background: none;
	background: url(../images/select_search.png) no-repeat scroll 100% 0px transparent;
	border-top: 1px solid #7a8599;
	border-bottom: 1px solid #7a8599;
	color: #54575c!important;
	font: normal 14px/100% Helvetica, Arial, sans-serif!important;
	text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.25);
	height: 46px!important;
	margin: 0px 0px 0px 0px!important;
	padding: 7px 40px 7px 7px!important;
	width: 100%!important;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-border-radius: 0px 0px 0px 0px;
	   -moz-border-radius: 0px 0px 0px 0px;
	        border-radius: 0px 0px 0px 0px;
	-webkit-box-shadow: 0px 0px 08px rgba(0, 0, 0, 0.10) inset, 0px 2px 3px rgba(0, 0, 0, 0.15);
	   -moz-box-shadow: 0px 0px 08px rgba(0, 0, 0, 0.10) inset, 0px 2px 3px rgba(0, 0, 0, 0.15);
	        box-shadow: 0px 0px 08px rgba(0, 0, 0, 0.10) inset, 0px 2px 3px rgba(0, 0, 0, 0.15);
}
.select2-container .select2-search input.select2-active {
	background: url(../images/select_spinner.gif) no-repeat 98%;
}
.select2-dropdown-open .select2-choice {
	-webkit-border-radius: 3px 3px 0px 0px;
	   -moz-border-radius: 3px 3px 0px 0px;
	        border-radius: 3px 3px 0px 0px;
	-webkit-box-shadow:  0px 1px 6px rgba(0, 0, 0, 0.15), 0px 0px 4px rgba(0, 0, 0, 0.08) inset;
	   -moz-box-shadow:  0px 1px 6px rgba(0, 0, 0, 0.15), 0px 0px 4px rgba(0, 0, 0, 0.08) inset;
	        box-shadow:  0px 1px 6px rgba(0, 0, 0, 0.15), 0px 0px 4px rgba(0, 0, 0, 0.08) inset;
}
.select2-dropdown-open .select2-choice div {
	background: transparent;
	border-left: none;
}
.select2-dropdown-open .select2-choice div b {
	background-position: -18px 1px;
}
.select2-container .select2-results {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	position: relative;
	overflow-x: hidden;
	overflow-y: auto;
	max-height: 270px;
}
.select2-container .select2-results li {
	border-top: 1px solid #b7bcc4;
	list-style: none;
	cursor: pointer;
	display: list-item;
	color: #54575c;
	font: normal 14px/20px Helvetica, Arial, sans-serif;
	text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.25);
	margin: 0px 0px 0px 0px;
	padding: 12px 10px 12px 10px;
	-webkit-box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.20) inset;
	   -moz-box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.20) inset;
	        box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.20) inset;
}
.select2-container .select2-results .select2-highlighted {
	background: #3875d7;
	color: #ffffff;
}
.select2-container .select2-results li em {
	font-style: normal;
}
.select2-container .select2-results .select2-highlighted em {
	background: transparent;
}
.select2-container .select2-results .select2-no-results {
	background: #dbe2eb;
	display: list-item;
}
.select2-container .select2-results .select2-disabled {
	display: none;
}
.select2-more-results.select2-active {
	background: #f4f4f4 url(../images/select_spinner.gif) no-repeat 100%;
}
.select2-more-results {
	background: #f4f4f4;
	display: list-item;
}
.select2-container.select2-container-disabled .select2-choice {
	opacity: 0.50;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
}
.select2-container-multi .select2-choices {
	background-color: #ebf3ff;
	border: 1px solid #7a8599;
	margin: 0;
	padding: 0;
	cursor: text;
	overflow: hidden;
	height: auto !important;
	height: 1%;
	position: relative;
	-webkit-border-radius: 3px 3px 3px 3px;
	   -moz-border-radius: 3px 3px 3px 3px;
	        border-radius: 3px 3px 3px 3px;
	-webkit-box-shadow:  0px 1px 2px rgba(0, 0, 0, 0.15), 0px 0px 4px rgba(0, 0, 0, 0.08) inset;
	   -moz-box-shadow:  0px 1px 2px rgba(0, 0, 0, 0.15), 0px 0px 4px rgba(0, 0, 0, 0.08) inset;
	        box-shadow:  0px 1px 2px rgba(0, 0, 0, 0.15), 0px 0px 4px rgba(0, 0, 0, 0.08) inset;
	background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.04), rgba(0, 0, 0, 0.04));
	   background-image: -moz-linear-gradient(rgba(255, 255, 255, 0.04), rgba(0, 0, 0, 0.04));
	    background-image: -ms-linear-gradient(rgba(255, 255, 255, 0.04), rgba(0, 0, 0, 0.04));
	     background-image: -o-linear-gradient(rgba(255, 255, 255, 0.04), rgba(0, 0, 0, 0.04));
}
.select2-container-multi .select2-drop {
	margin-top:0;
}
.select2-container-multi .select2-choices {
	min-height: 63px;
	padding: 0px 0px 5px 0px;
}
.select2-container-multi .select2-choices li {
	float: left;
	list-style: none;
}
.select2-container-multi .select2-choices .select2-search-field {
	white-space: nowrap;
	margin: 0;
	padding: 0;
}
.select2-container-multi .select2-choices .select2-search-field input {
	outline: 0;
	border: 0;
	color: #46494d;
	background: transparent !important;
	font: normal 13px/100% Helvetica, Arial, sans-serif;
	height: 27px!important;
	margin: 5px 0px 5px 0px;
	padding: 6px 5px 6px 5px;
	-webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
	   -moz-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
	        box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}
.select2-default {
	color: #5d6166!important;
}
.select2-container-multi .select2-choices .select2-search-choice {
	background-color: #f0f6ff;
	color: #46494d;
	border: 1px solid #a1a6ad;
	font: normal 13px/100% Helvetica, Arial, sans-serif;
	text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.25);
	padding: 6px 5px 6px 19px;
	margin: 5px 0px 0px 5px;
	position: relative;
	cursor: default;
	-webkit-border-radius: 3px 3px 3px 3px;
	   -moz-border-radius: 3px 3px 3px 3px;
	        border-radius: 3px 3px 3px 3px;
	-webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.10);
	   -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.10);
	        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.10);
	background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.02), rgba(0, 0, 0, 0.02));
	   background-image: -moz-linear-gradient(rgba(255, 255, 255, 0.02), rgba(0, 0, 0, 0.02));
	    background-image: -ms-linear-gradient(rgba(255, 255, 255, 0.02), rgba(0, 0, 0, 0.02));
	     background-image: -o-linear-gradient(rgba(255, 255, 255, 0.02), rgba(0, 0, 0, 0.02));
}
.select2-container-multi .select2-choices .select2-search-choice span {
	cursor: default;
}
.select2-container-multi .select2-choices .select2-search-choice-focus {
	background: #d3dae5;
	-webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);
	   -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);
	        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);
}
.select2-dropdown-open .select2-choices {
	-webkit-border-radius: 3px 3px 0px 0px;
	   -moz-border-radius: 3px 3px 0px 0px;
	        border-radius: 3px 3px 0px 0px;
}
.select2-search-choice-close {
	display: block;
	position: absolute;
	right: 3px;
	top: 6px;
	width: 12px;
	height: 13px;
	font-size: 1px;
	background: url(../images/select_sprite.png) right top no-repeat;
	outline: none;
}
.select2-container-multi .select2-search-choice-close {
	top: 7px;
	left: 4px;
}
.select2-container-multi .select2-choices .select2-search-choice .select2-search-choice-close:hover {
	background-position: right -11px;
}
.select2-container-multi .select2-choices .select2-search-choice-focus .select2-search-choice-close {
	background-position: right -11px;
}
.select2-container-multi .select2-results {
	margin: -1px 0 0;
	padding: 0;
}
.select2-container-multi.select2-container-disabled .select2-choices{
	opacity: 0.5;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
}
.select2-container-multi.select2-container-disabled .select2-choices .select2-search-choice .select2-search-choice-close {
	display: none;
}