.tipsy { 
	position: absolute;
	padding: 8px 8px 8px 8px;
	z-index: 9999999;
}
.tipsy .tipsy-inner {
	background-color: #000000;
	color: #ffffff;
	position: relative;
	font: normal 14px/23px Helvetica, Arial, sans-serif;
	text-align: center;
	max-width: 250px;
	word-wrap: break-word;
	padding: 16px 18px 16px 18px;
	-webkit-border-radius: 3px 3px 3px 3px;
	   -moz-border-radius: 3px 3px 3px 3px;
	        border-radius: 3px 3px 3px 3px;
	-webkit-box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.50);
	   -moz-box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.50);
	        box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.50);
	background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.18), transparent);
	   background-image: -moz-linear-gradient(rgba(255, 255, 255, 0.18), transparent);
	    background-image: -ms-linear-gradient(rgba(255, 255, 255, 0.18), transparent);
	     background-image: -o-linear-gradient(rgba(255, 255, 255, 0.18), transparent);
}
.tipsy h1,
.tipsy h2,
.tipsy h3,
.tipsy h4,
.tipsy h5,
.tipsy h6 {
	color: #ffffff;
	text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.4);
	margin: 0px 0px 5px 0px;
}
.tipsy h3,
.tipsy h4,
.tipsy h5,
.tipsy h6 {
	margin: 0px 0px 0px 0px;
}
.tipsy p {
	margin: 0px 0px 0px 0px;
}
.tipsy-arrow {
	position: absolute;
	width: 0;
	height: 0;
	line-height: 0;
	border: 8px dashed #000000;
}
.tipsy-arrow-n { border-bottom-color: #303030; }
.tipsy-arrow-s { border-top-color: #000000; }
.tipsy-arrow-e { border-left-color: #000000; }
.tipsy-arrow-w { border-right-color: #000000; }
.tipsy-n .tipsy-arrow {
	top: 0px;
	left: 50%;
	margin-left: -8px;
	border-bottom-style: solid;
	border-top: none;
	border-left-color: transparent;
	border-right-color: transparent;
}
.tipsy-nw .tipsy-arrow {
	top: 0;
	left: 10px;
	border-bottom-style: solid;
	border-top: none;
	border-left-color: transparent;
	border-right-color: transparent;
}
.tipsy-ne .tipsy-arrow {
	top: 0;
	right: 10px;
	border-bottom-style: solid;
	border-top: none;
	border-left-color: transparent;
	border-right-color: transparent;
}
.tipsy-s .tipsy-arrow {
	bottom: 0;
	left: 50%;
	margin-left: -8px;
	border-top-style: solid;
	border-bottom: none;
	border-left-color: transparent;
	border-right-color: transparent;
}
.tipsy-sw .tipsy-arrow {
	bottom: 0;
	left: 10px;
	border-top-style: solid;
	border-bottom: none;
	border-left-color: transparent;
	border-right-color: transparent;
}
.tipsy-se .tipsy-arrow {
	bottom: 0;
	right: 10px;
	border-top-style: solid;
	border-bottom: none;
	border-left-color: transparent;
	border-right-color: transparent;
}
.tipsy-e .tipsy-arrow {
	right: 0;
	top: 50%;
	margin-top: -10px;
	border-left-style: solid;
	border-right: none;
	border-top-color: transparent;
	border-bottom-color: transparent;
}
.tipsy-w .tipsy-arrow {
	left: 0;
	top: 50%;
	margin-top: -10px;
	border-right-style: solid;
	border-left: none;
	border-top-color: transparent;
	border-bottom-color: transparent;
}